h1 {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
}

h2 {
    color: darkolivegreen;
    font-family: 'Caveat', cursive;
    font-size: 30px;
}

#hearts{
    color: red;
}

img {
    height: 300px;
    width: 300px;
}